.healthcare-newbody{
    background-color: #84BB40;
    padding-top: 4rem;
    position: relative;
}

.healthcare-newbody-trans{
    position: absolute;
    top: 0;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    background-color: white;
    height: 2rem;
    width: 100%;
}

.healthcare-newbody .header{
    text-align: center;
    color: white;
}

.healthcare-newbody .divider{
    border-bottom: 2px solid black; 
    margin: 2rem auto; 
    width: 100%; 
}

.paragraph {
    text-align: center;
}
  
.phase-heading {
    color: green;
    font-style: italic;
}
  
.date-range {
    color: white;
    font-style: normal;
}

.paragraph-content{
    text-align: left;
    color: white;
}
