.healthcare-hackathon-timeline-block-container{
    color: white;
    text-align: left;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    line-height: 1.8em;
}

.healthcare-hackathon-dataset-text{
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 2rem;
}

.paragraph {
    text-align: center;
}
  
.phase-heading {
    color: green;
    font-style: italic;
}
  
.date-range {
    color: white;
    font-style: normal;
}

.paragraph-content{
    text-align: left;
    color: white;
}