@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');

body, html {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 25px;
}
