.card {
    font-family: "Familjen Grotesk";
}

.card-hover{
    transition: transform 0.1s linear;
}

.card-hover:hover{
    transform: scale(1.05);
}

.card-img-container{
    width: 100%;
    padding-bottom: 100%;
    /* height: 10rem; */
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.card-title{
    /* height: 2.5rem; */
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0.4rem 0;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
}

.card p{
    line-height: 1rem;
    font-size: 0.7rem;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    text-align: center; 
}


@media screen and (max-width: 900px) {
    .card p{
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .card-title{
        font-size: 0.9rem;
    }
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .card-img-container{
        /* height: 8rem; */
    }
    .card p{
        font-size: 0.8rem;
        line-height: 1rem;
        -webkit-line-clamp: 2;
    }
    .card-title{
        font-size: 1rem;
    }
}
