.healthequity-component{
    font-size: 1rem;
}

.healthequity-about-wrapper{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 2em;
    font-family: 'Lato', sans-serif;
}

.healthequity-about-participate{
    display: flex;
    flex-direction: column;   
}

.healthequity-about-info-header{
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.healthequity-about-participate-text{
    text-align: justify;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.healthequity-about-date-card>div{
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
}

.healthequity-register-btn{
    font-weight: 600;
    /* Adjusted font weight */
    /* Adjusted font size */
    line-height: 150%;
    font-family: Lato;
    display: flex;
    padding: 0.8vw 2vw;
    /* Adjusted padding for responsive scaling */
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
    /* Adjusted gap for responsive scaling */
    border-radius: 50px;
    border: 1px solid #061600;
    background: #10884C;
    color: #FFF;
    text-decoration: none;
    margin-top: 1em;
}

@media screen and (max-width: 1500px) {
    .healthequity-component{
        font-size: 0.9rem;
    }
}
  
@media screen and (max-width: 1300px) {
    .healthequity-component{
        font-size: 0.8rem;
    }
}



@media screen and (max-width: 1000px) {
    .healthequity-about-wrapper{
        grid-template-columns: 1fr;
    }
    .healthequity-component{
        font-size: 0.6em;
    }
}