.oncoslice-body{
  font-size: 1rem;
  margin-top: 5rem;
}

.oncoslice-about-wrapper{
  display: flex;
}

.oncoslice-about{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 65%;
  text-align: justify;
  line-height: 1.8em;
  font-size: 1em;
  font-family: 'Lato';
  font-weight: 300;
}

.oncoslice-about-sidebar{
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.oncoslice-participate-ul{
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  margin: auto;
  width: 85%;
  padding: 1em 0 2em 0;
}

.oncoslice-categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.oncoslice-category-box{
  display: flex;
  flex-direction: column;
}

.oncoslice-category-box-title{
  font-weight: 700;
  font-size: 1.2em;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.oncoslice-category-box-content{
  font-weight: 400;
  text-align: justify;
}
.oncoslice-register-button2 {
  font-weight: 600;
  /* Adjusted font weight */
  /* Adjusted font size */
  line-height: 150%;
  font-family: Lato;
  display: flex;
  padding: 0.8vw 2vw;
  /* Adjusted padding for responsive scaling */
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  /* Adjusted gap for responsive scaling */
  border-radius: 50px;
  border: 1px solid #061600;
  background: #10884C;
  color: #FFF;
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .oncoslice-about{
      flex-basis: 55%;
  }
  .oncoslice-body{
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 1300px) {
  .oncoslice-body{
      font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .oncoslice-categories{
      grid-template-columns: repeat(1, 1fr);
  }
  .oncoslice-about{
      flex-basis: 100%;
  }

  .oncoslice-about-sidebar{
      display: none;
  }
}

@media screen and (max-width: 1000px) {
  .oncoslice-body{
      font-size: 0.6rem;
  }
}

.oncoslice-process-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.oncoslice-process-instructions{
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.oncoslice-prize-card{
  border-radius: 1rem;
  overflow: hidden;
  height: fit-content;
  font-family: 'Lato', sans-serif;
}

.oncoslice-prize-card-header{
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #10884C;
  color: white;
  padding: 1rem 2rem;
}

.oncoslice-prize-card-body{
  font-weight: 500;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #E3FFE7;
  padding: 1rem 2rem;
}

.oncoslice-prize-card-body>div{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: 600;
  
}

@media screen and (max-width: 1000px) {
  .oncoslice-process-wrapper{
      grid-template-columns: 1fr;
  }
}

.oncoslice-outcome{
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.oncoslice-timeline-outerlist{
  padding: 0;
}

.oncoslice-timeline-outerlist>li{
  margin-bottom: 1rem;
}