/* body {
    background-color: #fffeee;
    margin: 0;
    padding: 0;
} */

.keynote-container {
    /* margin-top: 5rem; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #10884C;
}

.keynote-container * {
    text-decoration: none;
}

.keynote-container a {
    color: inherit
}

.keynote-container a:visited {
    color: inherit;
}

.theme-heading2,
.section-heading2 {
    text-align: center;
}

.theme-heading2 {
    color: black;
    font-style: italic;
}

.section-heading2 {
    color: white;
    margin-bottom: 2rem;
}


.theme-card-row-container {
    width: 1350px;
    margin: 0 auto;
}

.keynote-card-row-container{
    color: white !important;
}

@media screen and (max-width: 1450px) {
    .theme-card-row-container {
        width: 85%;
    }

}

@media screen and (max-width: 768px) {
    .section-heading2 {
        font-size: 1.5rem;
    }
}