.events {
  margin-top: 30%; /* Adjust margin-top as necessary */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.event-text,
.schedule-text,
.date-text,
.coming-soon-text {
  font-family: 'DM Serif Display', serif;
}

.event-text {
  font-style: italic;
  font-size: 2.5vw; /* Adjust font size as necessary */
  color: green;
  margin-bottom: 1.5vw; /* Add space after "EVENTS" */
}

.schedule-text {
  font-size: 5vw; /* Adjust font size as necessary */
  color: black;
  margin-bottom: 1.5vw;
}

.date-text {
  font-family: 'Lato', sans-serif;
  font-size: 3vw; /* Adjust font size as necessary */
  margin-bottom: 10vw; /* Adjust margin-bottom as necessary */
}

.coming-soon-text {
  font-size: 5vw; /* Adjust font size as necessary */
  text-transform: uppercase; 
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10vw; /* Adjust margin-bottom as necessary */
}

.imge {
  margin-bottom: 15vw; /* Adjust margin-bottom as necessary */
}

@media screen and (max-width: 768px) {
  .event-text {
    font-size: 4vw;
  }

  .schedule-text {
    font-size: 7vw;
  }

  .date-text {
    font-size: 5vw;
    margin-bottom: 15vw;
  }

  .coming-soon-text {
    font-size: 7vw;
    margin-bottom: 15vw;
  }

  .imge {
    margin-bottom: 5vw; /* Default margin for larger screens */
    width: 500px;
  }  
}

@media screen and (max-width: 520px) {
  .imge {
    margin-bottom: 15vw; /* Further adjusted margin for even smaller screens */
    width: 300px;
  }
}
