/* body {
    background-color: #fffeee;
    margin: 0;
    padding: 0;
} */

.theme-container{
    margin-top: 5rem;
}

.theme-container *{
    text-decoration: none;
}

.theme-container a{
    color: inherit
}

.theme-container a:visited{
    color: inherit;
}

.theme-heading,
.section-heading {
    text-align: center;
}

.theme-heading {
    color: green;
}

.section-heading {
    color: black;
}

.card-row {
    background-color: #fffeee;
    border: 1px solid #fffeee;
}

@media screen and (max-width: 768px){
    .section-heading{
        font-size: 1.5rem;
    }
}
