<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            body{
                background-color: #fffeee;
            }
            .theme-heading {
                text-align: center;
                color: green;
            }
            .section-heading{
                text-align: center;
                color: black;
            }
            .card-row {
                background-color: #ddd;
                max-height: fit-content;
                border: 1px solid #ddd;
                display: flex;
                overflow-x: auto;
            }
            .card {
                display: inline-block;
                margin-right: 10px; 
                width: 350px; 
            }
            .card-body p {
                max-height: 6em;
                overflow-y: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="theme-heading">THEME</h2>
            <h1 class="section-heading">BUILD FOR BHARAT</h1>
            <div class="card-row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Design for India</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing\theme\Image Wrapper.png" alt="Design for India">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Robotics and Space Technology</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (1)\theme\Image Wrapper.png" alt="Robotics and Space Technology">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Bridging Theory and Practice</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (2)\theme\Image Wrapper.png" alt="Bridging Theory and Practice">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Computational Gastronomy</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (3)\theme\Image Wrapper.png" alt="Computational Gastronomy">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Sustainable Mobility</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (4)\theme\Image Wrapper.png" alt="Sustainable Mobility">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">5G/6G</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (5)\theme\Image Wrapper.png" alt="5G/6G">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Advanced Multicore System</h5>
                        </div>
                        <div class="card-body">
                            <img src="C:\Users\HP\Downloads\Designing (6)\theme\Image Wrapper.png" alt="Advanced Multicore System">
                            <p>lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet lorem ipsum dolor imet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
